<div class="container">
  <div class="row">
    <div class="col">
      <h2>配送先</h2>
      <h5 class="font-weight-bold">新規配送先追加</h5>
      <%= form_with model:@address, url: addresses_path, rocal: true do |f| %>
        <div class="form-group row">
          <div class="col-md-4 offset-md-2">
            <%= f.label :zip_code, "郵便番号" %>
          </div>
          <div class="col-md-3 offset-md-1">
            <%= f.text_field :zip_code, autofocus: true, class:"form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 offset-md-2">
            <%= f.label :address, "住所"%>
          </div>
          <div class="col-md-3 offset-md-1">
            <%= f.text_field :address, autofocus: true, class:"form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 offset-md-2">
            <%= f.label :name, "宛名" %>
          </div>
          <div class="col-md-3 offset-md-1">
            <%= f.text_field :name, autofocus: true, class:"form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col d-flex justify-content-center">
            <%= f.submit "登録", class:"btn btn-success mx-3" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col mx-2">
      <table class="table">
        <thead class="table-secondary">
          <th style="width:15%">郵便番号</th>
          <th style="width:40%">住所</th>
          <th style="width:15%">宛名</th>
          <th style="width:15%"></th>
          <th style="width:15%"></th>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.zip_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td><%= link_to "編集", addresses_path, class:"btn btn-success mx-2" %></td>
              <td><%= link_to "削除", address_path(address),method: :delete ,data:{confirm: "本当に削除しますか？"},class:"btn btn-danger mx-2" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
